<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InsightPilot</title>
    <link href='https://fonts.googleapis.com/css?family=Pathway Gothic One' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="static\favicon.ico">
</head>
<body>
    <div class="chat-container">
        <div class="title-image"> 
              <img class="title-image-img" id="titleImage" src="{{ url_for('static', filename='titleimage.png') }}" alt="InsightPilot Logo">
        </div>
        
        <form method="POST">
            <input type="text" name="query" placeholder="What do you need insight with?" required>
            <button type="submit">Send</button>
        </form>
        
        {% if response %}
        <div class="response-box">
            <p><strong>Response:</strong> {% autoescape false %} {{ response }} {% endautoescape %}</p>
            
            {% if table_img %}
            <img src="data:image/png;base64,{{ table_img }}" alt="Generated Table" />
            {% endif %}
        </div>
        {% endif %}
        {% if table_data %}
            <table border="1" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        {% for key in table_data[0].keys() %}
                            <th> {% autoescape false %}{{ key }} {% endautoescape %}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_data %}
                        <tr>
                            {% for value in row.values() %}
                                <td> {% autoescape false %} {{ value }}  {% endautoescape %}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}





    </div>
    <div class = "table-container">
        {% if table_img %}
        <img src="{{ table_img }}" alt="Generated chart">
    {% endif %}
    </div>
        
</body>
</html>