<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InsightPilot</title>
    <link href='https://fonts.googleapis.com/css?family=Pathway Gothic One' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="chat-container">
        <div class="title-image"> 
              <img class="title-image-img" id="titleImage" src="{{ url_for('static', filename='titleimage.png') }}" alt="InsightPilot Logo">
        </div>
        
        <form method="POST">
            <input type="text" name="query" placeholder="What do you need insight with?" required>
            <button type="submit">Send</button>
        </form>
        
        {% if response %}
        <div class="response-box">
            <p><strong>Response:</strong> {{ response }}</p>
            
            {% if table_img %}
            <img src="data:image/png;base64,{{ table_img }}" alt="Generated Table" />
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>
</html>